body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.center {
  margin-left: 35%;
  margin-top: 100px;
}

.notfound {
  background-color: grey;
  text-align: left;
  width: 500px;
  height: 230px;
  margin-left: 35%;
  margin-top: 100px;
}

.notfound__content {
  margin-left: 20px;
  padding-top: 20px;
}

.community {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.community-users {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-left: 7.5%;
  height: 500px;
}

.community-user {
  width: 315px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.third-user {
  box-shadow: 2px 2px 5px grey;
}

.community-user__img {
  width: 150px;
  height: 150px;
}

.community-user__p {
  text-align: center;
}

.community-user__username {
  height: 16px;
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
}

.community-user__position {
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.opacity {
  opacity: 0.5;
}

.display-btn {
  width: 130px;
  height: 50px;
  padding: 15px;
  border: 2px solid red;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.hide {
  display: none;
}

.added-section {
  width: 100%;
  height: 436px;
  background-image: url(../assets/photo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.added-section__content {
  position: absolute;
  width: 100%;
  height: 244px;
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.added-section__h2 {
  font-family: Oswald;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 0;
  color: white;
}

.added-section__p {
  font-family: Source Sans Pro;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
}

.added-section__p-string {
  color: #FFFFFFB2;
  margin: 0 0;
}

.added-section__email-box {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.added-section__email-input {
  width: 400px;
  height: 36px;
  background: rgba(255, 255, 255, 0.15);
}

.added-section__email-btn {
  min-width: 111px;
  min-height: auto;
  background: #55C2D8;
  border-radius: 18px;
  color: white;
  cursor: pointer;
}

.opacity{
  opacity: 0.5;
}


@media only screen and (max-width: 768px) {
  .community-users{
    flex-direction: column;
    align-items: center;
  }
  .community-user {
    margin-bottom: 20px;
  }
  .added-section__content {
    height: 320px;
    margin-top: 60px;
  }
  .added-section__email-box {
      height: 120px;
      width: auto;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }
  .added-section__email-btn {
      height: 42px;
  }
}